<!DOCTYPE html>
html(lang="pt_br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description",content="Uma empresa focada na prestação de serviços de uma maneira totalmente inovadora, criando soluções personalizadas para as necessidades dos seus clientes.")
        meta( name="title", content="Ligatech Soluções e Serviços")
        meta(name="keywords",content="Sócio torcedor,gestão de clubes,carnaval, clubes, sistemas de clubes" )
        meta(name="image", content="https://www.ligatech.com.br/images/shared.png")
        meta( property="og:locale",content="pt_BR" )
        meta( property="og:url", content="http://www.ligatech.com.br" )
        meta( property="og:type", content="article" )
        meta(property="og:title",content="Ligatech Soluções e Serviços")
        meta(property="og:description", content="Uma empresa focada na prestação de serviços de uma maneira totalmente inovadora, criando soluções personalizadas para as necessidades dos seus clientes.")
        meta(property="og:image", content="https://www.ligatech.com.br/images/shared.png")
        meta( property="fb:app_id" content="485279604930062" )
        meta(property="twitter:description", content="Uma empresa focada na prestação de serviços de uma maneira totalmente inovadora, criando soluções personalizadas para as necessidades dos seus clientes.")
        meta(property="twitter:title", content="Ligatech Soluções e Serviços" )
        meta(property="twitter:image", content="https://www.ligatech.com.br/images/shared.png")
        meta( property="twitter:url", content="https://www.ligatech.com.br/" )
        meta( property="twitter:card", content="summary" )
        title LigaTech
        link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
    body
        main.main
            a.btn__top(href="#home") 
                include partials/includes/up.pug
            include partials/header.pug
            include partials/home.pug
            include partials/about.pug
            include partials/services.pug
            include partials/differential.pug
            include partials/products.pug
            include partials/portifolio.pug
            include partials/clients.pug
            include partials/omniclub.pug
            include partials/footer.pug
    script(src="js/script.js")