svg(xmlns='http://www.w3.org/2000/svg', version="1.1", viewBox="0 0 112 111.8" ,style="enable-background:new 0 0 112 111.8;", xml:space="preserve")
    g
        g 
            image(style="overflow:visible;" width="100" height="100" xlink:href="C1F0A2D8E3B66BFF.png"  transform="matrix(1 0 0 1 6.0399 5.7868)")

