svg(xmlns='http://www.w3.org/2000/svg', version="1.1", viewBox="0 0 604.5 329.8", style="enable-background:new 0 0 604.5 329.8;", xml:space="preserve", class="icon-svg")
    path(class="svg1" d="M380.8,41.2C444.6,98.1,605,238.5,605,238.5V330H501.2L318,172l10.6-65.2C328.6,106.8,314.2-18.1,380.8,41.2z")
    path(class="svg2" d="M-0.1,330L257,45c0,0,53-69,124.1-3.8c14.1,13,36.7,32.8,36.7,32.8L188.4,330H-0.1z")