// Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 320.5 143.8' style='enable-background:new 0 0 320.5 143.8;' xml:space='preserve')
  style(type='text/css').
    .li0{fill:none;stroke:#221F1F;stroke-width:0.216;stroke-miterlimit:22.9256;}
    .li1{fill:none;stroke:#221F1F;stroke-width:1.9999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  polyline.li0(points='114.5,144 74,103.1 80.8,96.1 108.6,124.1 129.6,103.2 122.7,96.1 108.7,110.1 39.2,40.2 -0.2,79.4 \
  ')
  polyline.li1(points='114.5,144 74,103.1 80.8,96.1 108.6,124.1 129.6,103.2 122.7,96.1 108.7,110.1 39.2,40.2 -0.2,79.4 \
  ')
  polyline.li0(points='18.9,143.7 45.9,116.8 25.2,95.7 18.1,102.8 32,116.8 18,130.7 -0.3,112 ')
  polyline.li1(points='18.9,143.7 45.9,116.8 25.2,95.7 18.1,102.8 32,116.8 18,130.7 -0.3,112 ')
  polyline.li0(points='0.5,106.4 39.1,68.1 53,82 60.1,75.1 39.4,53.9 -0.2,93.1 ')
  polyline.li1(points='0.5,106.4 39.1,68.1 53,82 60.1,75.1 39.4,53.9 -0.2,93.1 ')
  polyline.li0(points='46.8,143.8 73.9,116.9 80.7,124 73.7,130.9 86.7,143.9 ')
  polyline.li1(points='46.8,143.8 73.9,116.9 80.7,124 73.7,130.9 86.7,143.9 ')
  polyline.li0(points='32.9,143.7 59.9,116.8 32.1,88.9 39.1,82 60,102.9 74,89 67,82.1 60,89 ')
  polyline.li1(points='32.9,143.7 59.9,116.8 32.1,88.9 39.1,82 60,102.9 74,89 67,82.1 60,89 ')
  polyline.li1(points='249.9,134.3 278,106.4 250.1,78.6 257.1,71.6 278,92.5 292.1,78.6 285,71.7 278.1,78.6 ')
  line.li0(x1='-0.1' y1='65.5' x2='32.4' y2='33.1')
  line.li1(x1='-0.1' y1='65.5' x2='32.4' y2='33.1')
  polyline.li0(points='128.5,144.1 115.6,131 143.9,103.1 94.7,54.1 81,68.2 108.7,96.2 ')
  polyline.li1(points='128.5,144.1 115.6,131 143.9,103.1 94.7,54.1 81,68.2 108.7,96.2 ')
  polyline.li0(points='142.4,144.1 129.6,131.1 143.6,117.1 150.4,124.2 143.4,131.2 156.4,144.2 ')
  polyline.li1(points='142.4,144.1 129.6,131.1 143.6,117.1 150.4,124.2 143.4,131.2 156.4,144.2 ')
  polyline.li1(points='206.6,110.3 192.8,96.3 206.8,82.4 213.7,89.5 206.6,96.4 213.5,103.5 ')
  line.li1(x1='116' y1='89.3' x2='94.9' y2='68.3')
  line.li0(x1='87.7' y1='131' x2='100.7' y2='144')
  line.li1(x1='87.7' y1='131' x2='100.7' y2='144')
  line.li1(x1='259.9' y1='141' x2='285.4' y2='115.7')
  polyline.li0(points='170.4,144.2 157.4,131.2 164.4,124.2 150.5,110.3 157.5,103.3 198.2,144.3 ')
  polyline.li1(points='170.4,144.2 157.4,131.2 164.4,124.2 150.5,110.3 157.5,103.3 198.2,144.3 ')
  polyline.li0(points='150.5,96.3 171.6,75.4 178.5,82.5 164.5,96.4 212.2,144.4 ')
  polyline.li1(points='150.5,96.3 171.6,75.4 178.5,82.5 164.5,96.4 212.2,144.4 ')
  polyline.li1(points='192.4,110.4 178.4,96.5 206.3,68.7 218.7,80.8 ')
  polyline.li1(points='131.3,33.5 117.4,47.5 131.5,61.4 124.4,68.3 143.5,87.7 ')
  polyline.li1(points='223.3,96.5 237.5,82.4 216.4,61.6 ')
  line.li1(x1='253.8' y1='97.9' x2='239' y2='113.1')
  polyline.li1(points='204.4,121.1 217.4,133.6 231.5,119.5 239.3,127.6 258.4,108.2 ')
  line.li1(x1='243.5' y1='144.5' x2='232.9' y2='134.3')
  line.li1(x1='228.5' y1='143.5' x2='224.9' y2='140.3')
  line.li1(x1='151.5' y1='80.5' x2='140.9' y2='70.3')
  line.li1(x1='245.8' y1='89.9' x2='216.5' y2='119.5')
  polyline.li1(points='301.3,87.5 287.4,101.5 301.5,115.4 286.5,130.5 299.5,143.5 ')
  line.li1(x1='284.5' y1='143.5' x2='277.9' y2='137.3')
  line.li1(x1='314.5' y1='144.5' x2='299.9' y2='130.3')
  line.li1(x1='117.5' y1='61.4' x2='96.4' y2='40.6')
  polyline.li1(points='158.5,74.5 171.5,61.5 184.5,74.4 ')
