// Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 496.1 496.1' style='enable-background:new 0 0 496.1 496.1;' xml:space='preserve')
  style(type='text/css').
    .st110{fill-rule:evenodd;clip-rule:evenodd;fill:#31B4F6;}
    .st11{fill-rule:evenodd;clip-rule:evenodd;fill:#00CA2B;}
    .st12{fill-rule:evenodd;clip-rule:evenodd;fill:#D40017;}
    .st13{fill-rule:evenodd;clip-rule:evenodd;fill:#FF1515;}
    .st14{fill-rule:evenodd;clip-rule:evenodd;fill:#A40AAA;}
    .st15{fill-rule:evenodd;clip-rule:evenodd;fill:#312CF6;}
    .st16{fill-rule:evenodd;clip-rule:evenodd;fill:#F46700;}
    .st17{fill-rule:evenodd;clip-rule:evenodd;fill:#F4C100;}
    .st18{fill:#909090;}
  g#Layer_2
    g
      polygon.st110(points='361.6,128.9 358.2,125.5 348.6,117 333.3,106.2 317.1,97.8 316.1,82.5 304.1,92.8 290.9,88.5 \
      271.3,84.8 257.4,83.5 252,83.3 252,163.1 253.9,163.3 258.9,163.9 266.1,165.3 274.7,167.5 276.8,177.6 285.2,171.6 285.2,171.6 \
      293.2,176 299.7,180.3 304.2,183.6 305.8,184.9 319,171.6 319,171.6 		')
      polygon.st11(points='134.1,128.9 137.5,125.5 147.2,117 162.5,106.2 178.6,97.8 179.7,82.5 191.6,92.8 204.9,88.5 \
      224.4,84.8 238.4,83.5 243.7,83.3 243.7,163.1 241.9,163.3 236.9,163.9 229.7,165.3 221,167.5 218.9,177.6 210.5,171.6 \
      210.5,171.6 202.6,176 196,180.3 191.6,183.6 190,184.9 176.7,171.6 176.7,171.6 		')
      polygon.st12(points='361.6,366.1 358.2,369.6 348.6,378.1 333.3,388.9 317.1,397.2 316.1,412.5 304.1,402.2 290.9,406.5 \
      271.3,410.2 257.4,411.6 252,411.8 252,331.9 253.9,331.7 258.9,331.1 266.1,329.8 274.7,327.5 276.8,317.4 285.2,323.4 \
      285.2,323.4 293.2,319 299.7,314.7 304.2,311.4 305.8,310.1 319,323.4 319,323.4 		')
      polygon.st13(points='134,364.9 137.3,368.4 146.8,377.1 161.9,388.3 177.8,397 178.5,412.3 190.7,402.3 203.8,406.9 \
      223.3,411 237.2,412.7 242.6,413 244.4,333.2 242.5,333 237.6,332.2 230.4,330.7 221.8,328.3 219.9,318.1 211.4,323.9 \
      211.4,323.9 203.5,319.3 197.1,314.9 192.7,311.5 191.1,310.2 177.6,323.1 177.6,323.1 		')
      polygon.st14(points='411.7,251.2 411.7,256 411,268.9 408,287.4 402.7,304.8 412.9,316.3 397.2,317.6 390.9,330.1 \
      379.9,346.7 371.1,357.7 367.5,361.6 310.6,305.7 311.8,304.3 314.8,300.3 318.9,294.2 323.3,286.4 317.6,277.8 327.7,276 \
      327.7,276 330.2,267.2 331.7,259.5 332.5,254 332.7,252 351.4,251.8 351.4,251.8 		')
      polygon.st15(points='413.1,243.5 413.1,238.7 412.2,225.8 408.9,207.3 403.3,190 413.3,178.4 397.6,177.3 391.2,164.9 \
      379.9,148.4 370.9,137.6 367.3,133.8 311.2,190.5 312.4,191.9 315.5,195.9 319.7,201.9 324.2,209.6 318.6,218.3 328.8,220 \
      328.8,220 331.4,228.7 333,236.4 333.8,241.8 334.1,243.9 352.8,243.8 352.8,243.8 		')
      polygon.st16(points='84.4,250.4 84.3,255.2 85,268.1 88,286.6 93.4,304.1 83.2,315.5 98.9,316.8 105.1,329.4 116.2,346 \
      125,356.9 128.6,360.8 185.5,304.9 184.3,303.5 181.3,299.5 177.2,293.4 172.7,285.6 178.5,277 168.3,275.2 168.3,275.2 \
      165.9,266.5 164.4,258.8 163.6,253.3 163.4,251.2 144.7,251 144.7,251 		')
      polygon.st17(points='83,242.7 83,237.9 83.9,225 87.2,206.5 92.8,189.2 82.8,177.6 98.5,176.5 104.9,164.1 116.2,147.7 \
      125.2,136.9 128.8,133 184.9,189.7 183.7,191.2 180.6,195.1 176.4,201.1 171.9,208.9 177.5,217.5 167.3,219.2 167.3,219.2 \
      164.7,227.9 163.1,235.6 162.2,241.1 162,243.1 143.3,243 143.3,243 		')
      path.st18(d='M285.3,195.6c0.1-0.7-0.6-1-0.8-1.6c-24.3,0-48.6,0-72.9,0c-0.2,0.5-1,0.8-0.8,1.6c0,0.5-0.1,1-0.1,1.5\
      c0,32.3,0,64.5,0,96.8c0,0.5,0.1,1,0.1,1.5c-0.1,0.7,0.4,1,0.8,1.3c0.5,0.4,1.1,0.2,1.6,0.2c23.2,0,46.5,0,69.7,0\
      c1.2,0,2.2-0.1,2.4-1.6c0-0.5,0.1-1,0.1-1.5c0-32.3,0-64.5,0-96.8C285.4,196.6,285.4,196.1,285.3,195.6z M260.6,199.8\
      c0-0.1,0-0.2,0-0.4C260.6,199.6,260.6,199.7,260.6,199.8z M260.5,198.4c0.1,0.2,0.1,0.4,0.1,0.7\
      C260.6,198.8,260.6,198.6,260.5,198.4z M235.8,197.8L235.8,197.8c5.1-0.1,10.2-0.1,15.3-0.1c3,0,6.2,0.1,9.2,0.1\
      c-0.1,0.1,0,0.1,0,0.2v0.1v-0.1c0,1-0.1,2-0.1,2.9c-8.1,0-16.3,0-24.4,0l0,0c0-1-0.1-2-0.1-2.9\
      C235.8,197.9,235.8,197.8,235.8,197.8z M232,293.4c0-0.1,0-0.1-0.1-0.1C231.9,293.3,232,293.3,232,293.4z M235.5,291.1\
      c0,0.1,0,0.2,0,0.4C235.5,291.3,235.5,291.2,235.5,291.1z M260.3,293.1L260.3,293.1c-5,0.1-10,0.1-15,0.1c-3.2,0-6.3-0.1-9.5-0.1\
      c0-0.1,0-0.1,0-0.2c-0.3-0.5-0.3-1-0.3-1.5c0,0.5,0.1,1,0.3,1.5c0-1,0.1-2,0.1-2.9c8.1,0,16.3,0,24.4,0l0,0c0,1,0.1,2,0.1,2.9\
      C260.3,293,260.3,293.1,260.3,293.1z M261.5,286.4c0.1,0,0.2,0,0.4,0c0.1,0,0.2-0.1,0.2-0.1c-0.1,0.1-0.2,0.1-0.2,0.1\
      C261.8,286.4,261.7,286.4,261.5,286.4z M262.4,286.1C262.4,286.1,262.4,286.1,262.4,286.1C262.4,286.1,262.4,286.1,262.4,286.1\
      c-9.6,0-19.1,0-28.6,0c-1.4,0.2-1.8,1.3-1.8,2.5c-0.1,1.6-0.1,3-0.1,4.6l0,0c-5.7,0-11.5,0-17.2,0c0-10.4-0.1-20.8-0.1-31.2\
      c0-4.9,0-9.9,0-14.8c0-0.1,0-0.1,0-0.2c0,0.1,0,0.1,0,0.2c5.9,0,11.7,0,17.6,0c0.3,4.7,2.7,8.2,6.3,11.1c2.6,2,5.6,3,8.7,3.2\
      c3.2,0.1,6.2-0.6,8.9-2.3c4-2.5,6.4-6,7.6-10.5c0.1-0.5,0.1-1,0.1-1.5l0,0c5.9,0,11.7,0,17.6,0c0,15.3,0,30.6,0,46l0,0\
      c-5.7,0-11.5,0-17.2,0c0-1.4-0.1-2.9,0-4.2C264.2,287.5,263.6,286.6,262.4,286.1z M237,247.2c3.7,0.1,7.5,0,11.2,0\
      c3.5,0,7.1,0.1,10.6-0.1c1.2-0.1,1.5,0.3,1.2,1.4c-1.1,3.4-3.2,6-6.3,7.8c-1.9,1.1-3.9,1.4-5.9,1.4c-2.6,0.1-5-1-6.9-2.5\
      c-1.9-1.5-3.5-3.3-4.2-5.8c-0.1-0.4-0.3-0.8-0.4-1.3C235.9,247.5,236.1,247.2,237,247.2z M236.1,243.6c0.4-5.3,5.9-10.2,11-10.4\
      c7.3-0.4,12.5,5.3,13,10.4C252,243.6,244,243.6,236.1,243.6z M280.2,243.7c-5-0.1-10-0.1-14.9,0c-0.8,0-1.3-0.1-1.4-1.1\
      c-0.4-2.2-1.3-4.3-2.7-6.2c-1.4-1.9-2.9-3.6-5-4.6c-1.9-1-3.7-1.7-5.9-2c-3.5-0.6-6.6,0-9.4,1.6c-4.7,2.4-7.5,6.3-8.5,11.6\
      c-0.1,0.6-0.3,0.8-1,0.8c-5.3,0-10.6,0-15.8,0c-1.2,0-0.9-0.8-0.9-1.4c0-9.9,0-19.8,0-29.7c0-4.9,0-9.9,0.1-14.8\
      c-0.1-0.1-0.1-0.2-0.1-0.2c0,0.1,0,0.1,0.1,0.2c5.7,0,11.5,0,17.2,0c0,1.6,0,3,0.1,4.6c0.1,1.2,0.4,2.3,1.8,2.5\
      c0.1-0.1,0.2-0.2,0.3-0.2c-0.1,0.1-0.2,0.1-0.3,0.2c9.6,0,19.1,0,28.6,0c1.5-0.2,1.7-1.4,1.8-2.5c0.1-1.6,0.1-3,0.1-4.6\
      c0-0.1-0.1-0.1-0.1-0.1c0,0.1,0,0.1,0.1,0.1c5.7,0,11.5,0,17.2,0c0,5.4,0.1,10.9,0.1,16.3c0,9.4,0,18.8,0,28.2\
      C281.6,243.2,281.4,243.7,280.2,243.7z')
  g#Layer_3
