// Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg.torcedor(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 481.9 481.9' style='enable-background:new 0 0 481.9 481.9;' xml:space='preserve')
  g
    path(d='M206.3,47.1c0-0.1,0-0.1,0.1-0.2c0.1,0,0.1-0.1,0.2-0.1h6.5c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2v1.5\
    c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.2,0.1h-2.1v6.6c0,0.1,0,0.1-0.1,0.2s-0.1,0.1-0.2,0.1h-1.8c-0.1,0-0.1,0-0.2-0.1\
    c-0.1-0.1-0.1-0.1-0.1-0.2v-6.6h-2.1c-0.1,0-0.1,0-0.2-0.1c-0.1-0.1-0.1-0.1-0.1-0.2V47.1z')
    path(d='M213.8,51.3c0-0.4,0.1-0.8,0.2-1.2c0.1-0.4,0.3-0.8,0.5-1.1c0.2-0.3,0.4-0.7,0.7-0.9c0.3-0.3,0.6-0.5,0.9-0.7\
    c0.3-0.2,0.7-0.4,1.1-0.5c0.4-0.1,0.8-0.2,1.2-0.2c0.4,0,0.8,0.1,1.2,0.2c0.4,0.1,0.8,0.3,1.1,0.5c0.3,0.2,0.7,0.4,0.9,0.7\
    c0.3,0.3,0.5,0.6,0.7,0.9c0.2,0.3,0.4,0.7,0.5,1.1c0.1,0.4,0.2,0.8,0.2,1.2c0,0.4-0.1,0.8-0.2,1.2c-0.1,0.4-0.3,0.8-0.5,1.1\
    c-0.2,0.3-0.4,0.6-0.7,0.9c-0.3,0.3-0.6,0.5-0.9,0.7c-0.3,0.2-0.7,0.4-1.1,0.5c-0.4,0.1-0.8,0.2-1.2,0.2c-0.4,0-0.8-0.1-1.2-0.2\
    c-0.4-0.1-0.8-0.3-1.1-0.5c-0.3-0.2-0.6-0.4-0.9-0.7s-0.5-0.6-0.7-0.9c-0.2-0.3-0.4-0.7-0.5-1.1C213.8,52.2,213.8,51.8,213.8,51.3z\
    M216.1,51.3c0,0.3,0.1,0.6,0.2,0.9c0.1,0.3,0.3,0.5,0.5,0.8c0.2,0.2,0.4,0.4,0.7,0.5c0.3,0.1,0.6,0.2,0.9,0.2\
    c0.3,0,0.6-0.1,0.9-0.2s0.5-0.3,0.7-0.5c0.2-0.2,0.4-0.5,0.5-0.8s0.2-0.6,0.2-0.9c0-0.3-0.1-0.6-0.2-0.9s-0.3-0.5-0.5-0.8\
    c-0.2-0.2-0.4-0.4-0.7-0.5s-0.6-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.9,0.2c-0.3,0.1-0.5,0.3-0.7,0.5c-0.2,0.2-0.4,0.5-0.5,0.8\
    C216.2,50.7,216.1,51,216.1,51.3z')
    path(d='M224.4,47.1c0-0.1,0-0.2,0.1-0.2s0.1-0.1,0.2-0.1h3.9c0.4,0,0.8,0.1,1.2,0.2c0.4,0.2,0.7,0.4,0.9,0.6\
    c0.3,0.3,0.5,0.6,0.6,0.9c0.2,0.4,0.2,0.7,0.2,1.1c0,0.3,0,0.5-0.1,0.8c-0.1,0.2-0.2,0.5-0.3,0.7s-0.3,0.4-0.5,0.6\
    c-0.2,0.2-0.4,0.3-0.6,0.4l1.5,2.9c0,0.1,0.1,0.1,0.1,0.2s0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.1c0,0-0.1,0.1-0.2,0.1h-2.1\
    c-0.1,0-0.1,0-0.2-0.1s-0.1-0.1-0.1-0.2l-1.5-2.7h-1v2.7c0,0.2-0.1,0.3-0.3,0.3h-1.8c-0.1,0-0.1,0-0.2-0.1s-0.1-0.1-0.1-0.2V47.1z\
    M229.1,49.8c0-0.1,0-0.2-0.1-0.4s-0.1-0.2-0.2-0.3c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.2-0.1-0.4-0.1c-0.1,0-0.2,0-0.3,0\
    c-0.1,0-0.2,0-0.3,0h-0.8v2.2h1.1c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.1,0,0.3-0.1,0.4-0.1c0.1-0.1,0.2-0.1,0.3-0.2\
    c0.1-0.1,0.1-0.2,0.2-0.3C229.1,50.1,229.1,49.9,229.1,49.8z')
    path(d='M239.7,47.5c0.1,0,0.1,0.1,0.2,0.2s0,0.1,0,0.2l-1,1.4c0,0.1-0.1,0.1-0.1,0.1c0,0-0.1,0-0.2-0.1c-0.2-0.1-0.4-0.3-0.6-0.3\
    c-0.2-0.1-0.5-0.1-0.8-0.1c-0.3,0-0.6,0.1-0.9,0.2s-0.5,0.3-0.7,0.5c-0.2,0.2-0.4,0.5-0.5,0.8c-0.1,0.3-0.2,0.6-0.2,0.9\
    s0.1,0.6,0.2,0.9c0.1,0.3,0.3,0.5,0.5,0.8c0.2,0.2,0.4,0.4,0.7,0.5s0.6,0.2,0.9,0.2c0.3,0,0.5,0,0.8-0.1s0.5-0.2,0.7-0.3\
    c0.1,0,0.1-0.1,0.2-0.1c0,0,0.1,0,0.1,0.1l1,1.5c0,0.1,0,0.2,0,0.2c0,0.1-0.1,0.1-0.2,0.1c-0.4,0.3-0.8,0.4-1.2,0.6\
    c-0.4,0.1-0.9,0.2-1.4,0.2c-0.4,0-0.8-0.1-1.2-0.2c-0.4-0.1-0.8-0.3-1.1-0.5c-0.3-0.2-0.6-0.4-0.9-0.7s-0.5-0.6-0.7-0.9\
    c-0.2-0.3-0.4-0.7-0.5-1.1c-0.1-0.4-0.2-0.8-0.2-1.2c0-0.4,0.1-0.8,0.2-1.2c0.1-0.4,0.3-0.8,0.5-1.1c0.2-0.3,0.4-0.7,0.7-0.9\
    c0.3-0.3,0.6-0.5,0.9-0.7c0.3-0.2,0.7-0.4,1.1-0.5c0.4-0.1,0.8-0.2,1.2-0.2c0.5,0,0.9,0.1,1.4,0.2\
    C238.9,47.1,239.3,47.3,239.7,47.5z')
    path(d='M241.3,47.1c0-0.1,0-0.2,0.1-0.2s0.1-0.1,0.2-0.1h6c0.1,0,0.2,0,0.2,0.1s0.1,0.1,0.1,0.2v1.5c0,0.1,0,0.1-0.1,0.2\
    c0,0.1-0.1,0.1-0.2,0.1h-3.9v1.5h3c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2v1.3c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.2,0.1h-3\
    v1.5h4c0.2,0,0.3,0.1,0.3,0.3v1.5c0,0,0,0.1,0,0.1c0,0.1-0.1,0.2-0.2,0.2h-6.1c-0.1,0-0.1,0-0.2-0.1s-0.1-0.1-0.1-0.2V47.1z')
    path(d='M257.1,51.3c0,0.4-0.1,0.8-0.2,1.2c-0.1,0.4-0.3,0.7-0.5,1.1c-0.2,0.3-0.4,0.6-0.7,0.9c-0.3,0.3-0.6,0.5-0.9,0.7\
    s-0.7,0.3-1.1,0.4c-0.4,0.1-0.8,0.2-1.2,0.2h-3c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.2v-8.4c0-0.1,0-0.2,0.1-0.2\
    c0-0.1,0.1-0.1,0.2-0.1h3c0.4,0,0.8,0.1,1.2,0.2c0.4,0.1,0.8,0.3,1.1,0.4s0.6,0.4,0.9,0.7c0.3,0.3,0.5,0.6,0.7,0.9\
    c0.2,0.3,0.4,0.7,0.5,1.1C257.1,50.5,257.1,50.9,257.1,51.3z M251.7,49v4.6h0.5c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0\
    c0.3,0,0.6-0.1,0.8-0.2c0.3-0.1,0.5-0.3,0.7-0.5c0.2-0.2,0.3-0.4,0.5-0.7c0.1-0.3,0.2-0.6,0.2-0.9c0-0.3-0.1-0.6-0.2-0.9\
    c-0.1-0.3-0.3-0.5-0.5-0.7s-0.5-0.4-0.8-0.5c-0.3-0.1-0.6-0.2-0.9-0.2H251.7z')
    path(d='M258.3,51.3c0-0.4,0.1-0.8,0.2-1.2c0.1-0.4,0.3-0.8,0.5-1.1c0.2-0.3,0.4-0.7,0.7-0.9c0.3-0.3,0.6-0.5,0.9-0.7\
    c0.3-0.2,0.7-0.4,1.1-0.5c0.4-0.1,0.8-0.2,1.2-0.2c0.4,0,0.8,0.1,1.2,0.2c0.4,0.1,0.8,0.3,1.1,0.5c0.3,0.2,0.7,0.4,0.9,0.7\
    c0.3,0.3,0.5,0.6,0.7,0.9c0.2,0.3,0.4,0.7,0.5,1.1c0.1,0.4,0.2,0.8,0.2,1.2c0,0.4-0.1,0.8-0.2,1.2c-0.1,0.4-0.3,0.8-0.5,1.1\
    c-0.2,0.3-0.4,0.6-0.7,0.9c-0.3,0.3-0.6,0.5-0.9,0.7c-0.3,0.2-0.7,0.4-1.1,0.5c-0.4,0.1-0.8,0.2-1.2,0.2c-0.4,0-0.8-0.1-1.2-0.2\
    c-0.4-0.1-0.8-0.3-1.1-0.5c-0.3-0.2-0.6-0.4-0.9-0.7s-0.5-0.6-0.7-0.9c-0.2-0.3-0.4-0.7-0.5-1.1C258.4,52.2,258.3,51.8,258.3,51.3z\
    M260.6,51.3c0,0.3,0.1,0.6,0.2,0.9c0.1,0.3,0.3,0.5,0.5,0.8c0.2,0.2,0.4,0.4,0.7,0.5c0.3,0.1,0.6,0.2,0.9,0.2\
    c0.3,0,0.6-0.1,0.9-0.2s0.5-0.3,0.7-0.5c0.2-0.2,0.4-0.5,0.5-0.8s0.2-0.6,0.2-0.9c0-0.3-0.1-0.6-0.2-0.9s-0.3-0.5-0.5-0.8\
    c-0.2-0.2-0.4-0.4-0.7-0.5s-0.6-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.9,0.2c-0.3,0.1-0.5,0.3-0.7,0.5c-0.2,0.2-0.4,0.5-0.5,0.8\
    C260.7,50.7,260.6,51,260.6,51.3z')
    path(d='M269,47.1c0-0.1,0-0.2,0.1-0.2s0.1-0.1,0.2-0.1h3.9c0.4,0,0.8,0.1,1.2,0.2c0.4,0.2,0.7,0.4,0.9,0.6\
    c0.3,0.3,0.5,0.6,0.6,0.9c0.2,0.4,0.2,0.7,0.2,1.1c0,0.3,0,0.5-0.1,0.8c-0.1,0.2-0.2,0.5-0.3,0.7s-0.3,0.4-0.5,0.6\
    c-0.2,0.2-0.4,0.3-0.6,0.4l1.5,2.9c0,0.1,0.1,0.1,0.1,0.2s0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.1c0,0-0.1,0.1-0.2,0.1H274\
    c-0.1,0-0.1,0-0.2-0.1s-0.1-0.1-0.1-0.2l-1.5-2.7h-1v2.7c0,0.2-0.1,0.3-0.3,0.3h-1.8c-0.1,0-0.1,0-0.2-0.1s-0.1-0.1-0.1-0.2V47.1z\
    M273.7,49.8c0-0.1,0-0.2-0.1-0.4s-0.1-0.2-0.2-0.3c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.2-0.1-0.4-0.1c-0.1,0-0.2,0-0.3,0\
    c-0.1,0-0.2,0-0.3,0h-0.8v2.2h1.1c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.1,0,0.3-0.1,0.4-0.1c0.1-0.1,0.2-0.1,0.3-0.2\
    c0.1-0.1,0.1-0.2,0.2-0.3C273.6,50.1,273.7,49.9,273.7,49.8z')
