section.about.animation-scroll#about
    .about__container.hidden
        .about__content
            span Somos especializados no segmento de eventos,  clubes, venda de ingressos, serviços e consultoria, por isso podemos oferecer o melhor atendimento e suporte técnico personalizado conforme as necessidades de cada Cliente. 
        .about__more 
            span Temos profissionais capacitados em fornecer soluções rápidas e eficientes para a padronização de tarefas cotidianas e facilitar o trabalho, permitindo a agilidade no atendimento personalizado. Para isso, contamos com o apoio de várias parcerias que nos auxiliam em pesquisas e implantações de novas tecnologias em nosso Sistema.