section.clients#clients
    .clients__container.hidden
        //img(src="images/clients.jpg", alt="Clientes")
        .slider
            .slide-track
                .slide
                    img(src='images/borafogo.png' height='120' width='120' alt='')
                .slide
                    img(src='images/aguasanta.png' height='120' width='120' alt='')
                .slide
                    img(src='images/audax.png' height='120' width='120' alt='')
                .slide
                    img(src='images/redbull.png' height='120' width='120' alt='')
                .slide
                    img(src='images/bragantino.png' height='120' width='120' alt='')
                .slide
                    img(src='images/guarani.png' height='120' width='120' alt='')
                .slide
                    img(src='images/pontepreta.png' height='120' width='120' alt='')
                .slide
                    img(src='images/santos.png' height='120' width='120' alt='')
                .slide
                    img(src='images/penapolense.png' height='120' width='120' alt='')
                .slide
                    img(src='images/marilia.png' height='120' width='120' alt='')
                .slide
                    img(src='images/cbf.png' height='120' width='120' alt='')
                .slide
                    img(src='images/russia.png' height='120' width='120' alt='')
                .slide
                    img(src='images/america.png' height='120' width='120' alt='')
                .slide
                    img(src='images/fpf.png' height='120' width='120' alt='')
                .slide
                    img(src='images/ibm.png' height='120' width='120' alt='')
                .slide
                    img(src='images/liga30.png' height='120' width='120' alt='')
                .slide
                    img(src='images/borafogo.png' height='120' width='120' alt='')
                .slide
                    img(src='images/aguasanta.png' height='120' width='120' alt='')
                .slide
                    img(src='images/audax.png' height='120' width='120' alt='')
                .slide
                    img(src='images/redbull.png' height='120' width='120' alt='')
                .slide
                    img(src='images/bragantino.png' height='120' width='120' alt='')
                .slide
                    img(src='images/guarani.png' height='120' width='120' alt='')
                .slide
                    img(src='images/pontepreta.png' height='120' width='120' alt='')
                .slide
                    img(src='images/santos.png' height='120' width='120' alt='')
                .slide
                    img(src='images/penapolense.png' height='120' width='120' alt='')
                .slide
                    img(src='images/marilia.png' height='120' width='120' alt='')
                .slide
                    img(src='images/cbf.png' height='120' width='120' alt='')
                .slide
                    img(src='images/russia.png' height='120' width='120' alt='')
                .slide
                    img(src='images/america.png' height='120' width='120' alt='')
                .slide
                    img(src='images/fpf.png' height='120' width='120' alt='')
                .slide
                    img(src='images/ibm.png' height='120' width='120' alt='')
                .slide
                    img(src='images/liga30.png' height='120' width='120' alt='')

