section.differential#differential
    .differential__container.hidden
        h3.title 
            span Diferencial
        .differential__content 
            .content__item
                include includes/torcedor.pug
                .desc.desc--d0 Planejamento do evento
                .desc.desc--d1 
                    | Web App
                    p Venda online, cadastro e sistema Adm com gestão parametrizada 
                .desc.desc--d2 
                    | PDV 
                    p Ponto de venda presencial
                .desc.desc--d3 Login único, Loja, bar, recarga, tour, estacionamento...
                .desc.desc--d4 
                    | Estádio
                    p B.I. Analytics
                .desc.desc--d5 
                    | Catracas, coletores X, Handheld e totem
                    p Atendimento personalizado
                .desc.desc--d6 Geolocalização de equipamentos
                .desc.desc--d7 
                    | CallCenter e atendimento
                    p Ouvidoria, pré e pós venda
                .desc.desc--d8 kkk

                .stadium
                    include includes/rotate.pug

            