section.home#home 
    .home__container 
        .home__content 
            p Soluções de negócios
            p 
                | Projetos 
                span integrados, 
            p softwares e serviços.
        include includes/elements.pug
        .box  
            .wave.-one
            .wave.-two
            .wave.-three
            