section.omniclub
    .omniclub__container.hidden
        h3.title
            article 
                .plus +  
                | 1.500.000 pessoas, 
            article 
                .plus +  
                | 300 clientes, 
            article 
                .plus +  
                | 500 jogos e eventos...
            .small Responsabilidade, comprometimento e eficiência!
                