section.portifolio#portifolio
    .portifolio__container
        h3.title
            span 
                | O que Fizemos
                .by 
                    | by 
                    include includes/omni.pug
        .portifolio__content.hidden
            .portifolio__item.portifolio__item--one 
                .item__logo
                    include includes/sccp.pug
                .item__title Sport Club Corinthians Paulista
                .item__body 
                    b Clube Social Parque São Jorge:
                    P Sistema de gestão administrativa do clube social no Parque São Jorge
                    b Escolinhas Chute Inícial
                    P Sistema de gestão de alunos da escolinha oficial do Corinthians.
                    b Teatro Omni Corinthians
            .portifolio__item.portifolio__item--two 
                .item__logo
                    include includes/fieltorcedor.pug
                .item__title Programa Fiel Torcedor
                .item__body 
                    P Gestão completa do programa de sócios torcedores do Sport Club Corinthians Paulista.
                    P Venda de ingressos, acesso aos jogos, atendimento e operacional.
                    p Criação e gerenciamento de 2008 até 2019.
            .portifolio__item.portifolio__item--two 
                .item__logo
                    include includes/arena.pug
                .item__title Arena Corinthians
                .item__body 
                    P Gestão Administrativa,  E.R.P., colaboração na implantação e gerenciamento da infraestrutura e departamento de desenvolvimento e tecnologia e gerenciamento de 2011 até 2019.
            .portifolio__item 
                .item__logo
                    include includes/camarote.pug
                .item__title Camarote Fiel Torcedor
                .item__body 
                    P Localizado no melhor ponto do estádio. Espaço exclusivo com buffet, entretenimento e várias outras atrações para os participantes do programa Fiel Torcedor.
            .portifolio__item 
                .item__logo
                    include includes/copa.pug
                .item__title Copa do Mundo FIFA 2014
                .item__body 
                    P Controle de acesso, operacional e infraestrutura em todos os jogos na Arena Corinthians.
            .portifolio__item 
                .item__logo
                    include includes/rio.pug
                .item__title Olimpíadas Rio 2016
                .item__body 
                    P Controle de acesso, operacional e infraestrutura em todos os jogos na Arena Corinthians.
            .portifolio__item 
                .item__logo 
                    include includes/cbf.pug
                .item__title C.B.F.
                .item__body 
                    P Venda de ingressos, controle de acesso, equipe de atendimento, operacional e infraestrutura.

                