section.products#products 
    .products__container
        h3.title
            span O que fazemos
        .products__content.hidden
            article.products__item 
                .item__logo 
                    include includes/ingressosligasp.pug
                .item__body 
                    | Venda de ingressos on-line e nas bilheterias dos desfiles das escolas de samba, carnaval de São Paulo.
                .item__contact 
                    p Desde 2014.
                    p Acesse:
                    p 
                        a(href="https://ingressosligasp.com.br/" target="blank") www.ingressosligasp.com.br
            article.products__item 
                .item__logo 
                    include includes/ligasp.pug
                .item__body 
                    | Carnaval São Paulo, desfiles das escolas de samba de São Paulo, grupo especial e grupos de acessos (tickets, acesso, staff, website e mais...)
                .item__contact 
                    p Desde 2014.
                    p Acesse:
                    p
                        a(href="https://ligasp.com.br/" target="blank") www.ligasp.com.br

            article.products__item 
                .item__logo
                    include includes/cashbox.pug
                .item__body Uma solução integrada para gestão e operacionalização de eventos e segmento AB. Integra em uma única solução o controle de pagamentos, vendas e estoque de seu evento.
                .item__contact 
                    p Respect Festival
            //- .products__item 
            //-     .item__logo
            //-     .item__body Clube de vantagens, benefícios, ofertas, promoções e muito mais. Exclusivo para os clientes que já fazem parte de algum programa nosso.
            //-     .item__contact 
            //-         p SCCP
            article.products__item 
                .item__logo 
                    include includes/eliga.pug
                .item__body Empresa focada em operação e logistica, faz parte do  grupo Ligatech.
                .item__contact 
                    p ligatech.com.br/eliga
        .products__content.products__content--club.hidden
            .club__content 
                .club__logo 
                    include includes/clubtech.pug
                .club__body 
                    | Sistema totalmente integrado voltado para administração do quadro associativo, convidados, visitantes e eventos para clubes de pequeno, médio e grande porte, exercendo controle geral em arrecadação, acesso as dependências do clube (foto digital, Biometria, preenchimento em código de barras, relatórios e estatísticas).
                    p 
                    | Seus módulos e sistemas:
                    
            .club__content.club__content--products
                .club__product.club__product--featured 
                    include includes/club-ticket.pug
                .club__product.club__product--featured
                    include includes/club-web.pug
                .club__product.club__product--featured 
                    include includes/club-check.pug
                .club__product.club__product--featured
                     include includes/club-fut.pug
                .club__product.club__product--featured
                    include includes/club-staff.pug
                .club__product.club__product--featured
                    include includes/club-tour.pug
                .club__product.club__product--featured
                    include includes/club-app.pug
                .club__product.club__product--featured
                    include includes/club-park.pug
                p 
                .club__product 
                    include includes/club-util.pug
                .club__product 
                    include includes/club-curs.pug
                .club__product 
                    include includes/club-bank.pug
                .club__product 
                    include includes/club-arq.pug
                .club__product 
                    include includes/club-rec.pug
                .club__product 
                    include includes/club-loc.pug
                .club__product 
                    include includes/club-cont.pug
                .club__product 
                    include includes/club-aces.pug
                .club__product 
                    include includes/club-line.pug
                .club__product 
                    include includes/club-logaces.pug

