section.services#services
    .services__container.hidden
        h3.title 
            span Serviços Integrados
        .services__content 
            span
                | Uma empresa focada na prestação de serviços de uma maneira totalmente inovadora, criando soluções personalizadas para as necessidades dos seus clientes.
                | Como uma empresa integradora de soluções, especializada no desenvolvimento de sistemas de gestão de associados, fidelização, arrecadação e acesso, os seus principais serviços.
    .services__container.services__container--services.hidden
        article.services__item
            .svg
                include includes/ing.pug
            h4.item__title Venda de Ingressos
            .item__content 
                | Gestão integrada de arrecadação e bilheteria (online e presencial).
                | Relatórios gerenciais e personalizados, ouvidoria e pós-venda.
                | Sistema com loja virtual e Moedeiro eletrônico.
        article.services__item
            .svg
                include includes/sociotorcedor.pug
            h4.item__title Sócio Torcedor
            .item__content 
                | Desenvolvimento de gestão de associados com programa de fidelização, rede de beneficíos e atendimento especializado ao seu cliente (telefônico e presencial).
                | E-mail marketing e campanhas promocionais.
        article.services__item
            .svg
                include includes/acesso.pug
            h4.item__title Controle de Acesso
            .item__content 
                | Desenvolvimento de identidade visual em todos os equipamentos utilizados para o evento. Treinamento especificos e orientação no dia do evento.
                | Credenciamento online com controle de Staff.
        article.services__item
            .svg
                include includes/dashboard.pug
            h4.item__title Gestão Administrativa
            .item__content 
                | Dashboard com relatórios gerenciais e personalizados.
                | Sistema de arrecadação do quadro associativo;