.home {
  background: url(../images/background-home.jpg);
  background-size: auto 100%;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  @include size(tablet--pro) {
    background-size: cover;
    //justify-content: flex-start;
  }

  &__container {
    max-width: 1300px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
    width: 70%;
    @include size(tablet--pro) {
      width: 80%;
    }
    @include size(desktop) {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__content {
    @include font($white, 2.4em, 800);
    line-height: 1.4em;
    margin-top: 50px;
    //padding: 30px;
    transition: height 1.3s ease-in-out;
    // position: absolute;
    // top: 10%;
    //width: calc(100% - 60px);
    @include sizefont(
      white,
      200,
      2.6em,
      2.8em,
      2.6em,
      3em,
      3em,
      4em,
      5.5em,
      4.2em
    );
    span {
      background-color: #fff;
      display: inline-block;
      padding: 1px 10px;
      color: #000;
      /* the magic property */
      mix-blend-mode: screen;
    }
    @include size(tablet) {
      //top: 20%;
    }
    @include size(tablet--pro) {
    }
    @include size(desktop) {
      width: 60%;
      margin: 0;
    }
  }
  .elements {
    // position: absolute;
    // top: 68%;
    // right: 15%;
    // width: 70%;
    margin-top: 30px;
    @include size(tablet) {
      //top: 50%;
    }
    @include size(tablet--pro) {
      width: 80%;
      margin: 50px 10% 0;
    }
    @include size(desktop) {
      // top: 50%;
      // transform: translateY(-50%);
      // width: 35%;
      // right: 10%;
      width: 40%;
      margin: 0;
      display: inline-block;
    }
    .st0 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 3;
      //stroke-miterlimit: 10;
      stroke-dasharray: 1200;
      -webkit-animation: dash 5s linear infinite;
      -o-animation: dash 5s linear infinite;
      -moz-animation: dash 5s linear infinite;
      animation: dash 5s linear infinite;
    }
    .st1 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 3;
      //stroke-miterlimit: 10;
      stroke-dasharray: 1200;
      -webkit-animation: dash 5s linear infinite;
      -o-animation: dash 5s linear infinite;
      -moz-animation: dash 5s linear infinite;
      animation: dash 5s linear infinite;
      animation-delay: 0.5s;
    }
    .st2 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 3;
      //stroke-miterlimit: 10;
      stroke-dasharray: 1200;
      -webkit-animation: dash 5s linear infinite;
      -o-animation: dash 5s linear infinite;
      -moz-animation: dash 5s linear infinite;
      animation: dash 5s linear infinite;
      animation-delay: 0.7ss;
    }
    .st3 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 3;
      //stroke-miterlimit: 10;
      stroke-dasharray: 1200;
      -webkit-animation: dash 5s linear infinite;
      -o-animation: dash 5s linear infinite;
      -moz-animation: dash 5s linear infinite;
      animation: dash 5s linear infinite;
      animation-delay: 1s;
    }
    @keyframes dash {
      from {
        stroke-dashoffset: 1200;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
  .box {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    display: none;
    @include size(tablet--pro) {
      display: block;
    }
    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transform: translate3d(0, 0, 0);
    }
    .wave {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.1;
      position: absolute;
      top: 20%;
      left: 100%;
      background: rgb(255, 255, 255);
      width: 1500px;
      height: 1300px;
      margin-left: 50px;
      margin-top: -250px;
      transform-origin: 50% 48%;
      border-radius: 43%;
      animation: drift 7000ms infinite linear;
      &.-three {
        animation: drift 7500ms infinite linear;
        position: fixed;
        background-color: white;
      }

      &.-two {
        animation: drift 3000ms infinite linear;
        opacity: 0.1;
        background: #080d1d;
        position: fixed;
      }
    }
  }
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}
